:root{
    --backgrounColor:rgb(255, 255, 255);
}
html {
    background-color:var(--backgrounColor) ;
}

.header-topic{
    grid-area: header-topic;
    border:2px solid blue
}

.nav-bar{
    grid-area: nav-bar;
}
.header-subTopic{
    grid-area: header-sub;
    border:2px solid blue;
    
    
}
.container-header {
    border:2px solid blue;
    display: grid;
    width: auto;
    height: 60hv;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "header-topic nav-bar nav-bar nav-bar"
    ". . header-sub .";
}
.nav-bar ul{
    list-style: none;
    display: flex;
    /* display: inline-block;       */
       
}
.nav-bar ul li{
    padding: 10px;
}