.nav-bar{
    display: flex;
    flex-wrap: wrap;
}

.header-topic{
    width: 40%;
}

.nav-links{
    width: 60%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: 20%;
    border-color: blue;
    border-style: solid;
}

@row only screen and (max-width: 600px) {
.col{
    border-color: pink;
    border-style:solid ;
    width: 100%;
}
}